      <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
			<div class="col-lg-12" id="divAddNote"></div>
       <div class="input-group form-control" id="divTitle">
              <input id="titleinput" type="text" placeholder="Enter Title" class="form-control" >
            </div>
        <div class="input-group form-control" id="divBody">
              <input id="bodyinput" type="text" placeholder="Enter Note" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
		      <button type="button" class="btn btn-default" data-dismiss="modal" id="btnDeleteNote">Delete Note</button>
		      <button type="button" class="btn btn-default" data-dismiss="modal" id="btnSaveNote">Save</button>
		      <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelNote">Cancel</button>
		      <button type="button" class="btn btn-default" id="btnNewNote">New Note</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>